.info_basic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    margin-right: auto;
    border: 1px solid black;
    

    border-image-slice: 1;
    margin-left: 1%;
}

.shadow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    margin-right: auto;
    box-shadow: 1.8px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
    border-image-slice: 1;
    margin-left: 1%;
}

.shadow-charts{
    background-color: white;
    margin-top: 50px;
    margin-left: 10px;
    box-shadow: 1.8px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
}