{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <form action="" method="POST">
            <h4>Cliente:  {{ cliente.nome_cliente }}</h4>
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-outline-primary" href="{% url 'servico:listar-clientes' %}">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>


    {% else %}
        <p>Você não está logado</p>
        <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
    </div>
{% endblock %}
