{% extends 'base.html' %}

{% block title %}Início{% endblock %}
{% load static %}



{% block content %}
    <link rel="stylesheet" href="{% static 'css/list_template.css' %}">

{% if user.is_authenticated %}
    <div class="container" style="margin: 2px; width: 10%;">
          <div class="row">
            <div class="col">
              <form method="GET" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">OK</button>
              </form>
            </div>
          </div>
    </div>

     <div class="container-fluid">
        <div class="row">
            <!--LIST TASK TATUAGENS-->
            <div class="col-lg-6">
                <div class="d-flex justify-content-between align-items-center activity">
                    <div><span class="ml-2"></span></div>
                    <div><span class="activity-done">Tatuagem</span></div>
                    <div class="icons"></div>
                </div>
                {% if object_list.tatuagens %}
                    {% for cliente in object_list.tatuagens %}
                    <div class="mt-3">
                        <ul class="list list-inline">
                            <li class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="ml-2">
                                        
                                        <h6 class="mb-2"><a href="{{ cliente.get_absolute_url }}">{{ cliente.cliente }}</a></h6>
                                            <ul>Funcionário: {{ cliente.refferring_funcionario }}</ul>
                                        <div class="d-flex flex-row mt-1 text-black-50 date-time">
                                            <div><i class="fa fa-calendar-o"></i><span class="ml-2">{{ cliente.data_servico }}</span></div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="mt-3">
                    <ul class="list list-inline">
                        <li class="d-flex justify-content-center">
                            <div class="d-flex flex-row align-items-center">
                                <div class="ml-2">
                                    <h6 style="height: 40px; margin-top: 25px;">Sem resultados.</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
                <!--LIST TASK CORTES DE CABELO-->
                <div class="col-lg-6">
                    <div class="d-flex justify-content-between align-items-center activity">
                        <div><span class="ml-2"></span></div>
                        <div><span class="activity-done">Corte de cabelo</span></div>
                        <div class="icons"></div>
                    </div>
                    {% if object_list.cortes_cabelo %}
                        {% for cliente in object_list.cortes_cabelo %}
                        <div class="mt-3">
                            <ul class="list list-inline">
                                <li class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="ml-2">
                                            <h6 class="mb-2"><a href="{{ cliente.get_absolute_url }}">{{ cliente.cliente }}</a></h6>
                                                <ul>Funcionário: {{ cliente.refferring_funcionario }}</ul>
                                            <div class="d-flex flex-row mt-1 text-black-50 date-time">
                                                <div><i class="fa fa-calendar-o"></i><span class="ml-2">{{ cliente.data_servico }}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="mt-3">
                        <ul class="list list-inline">
                            <li class="d-flex justify-content-center">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="ml-2">
                                        <h6 style="height: 40px; margin-top: 25px;">Sem resultados.</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
        </div>
        {% else %}
        <p>Você não está logado</p>
        <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </div>


{% endblock %}