.info_basic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    margin-right: auto;
    border: 1px solid black;


    border-image-slice: 1;
    margin-left: 1%;
}